views:
{%- for section_name, section_icon in home.dashboard_sections -%}
{%    set section_devices = home.get_devices_for_dashboard_section(section_name) %}
{%-   if section_devices|length > 0 %}
  - type: sections
    max_columns: 4
    title: {{section_name}}
    path: {{section_name}}
    {%- if section_icon != None %}
    {{"icon: "+ section_icon}}
    {% endif -%}
    cards: []
    {%- set badges_list = namespace(badges = []) %}
    {%- set trackers_list = namespace(trackers = []) %}
    {%- set calendars_list = namespace(calendars = []) %}
    sections:
    {%- for device in section_devices %}
      {%- set device_calendar = device.calendar %}
      {%- if  device_calendar != None and device_calendar not in calendars_list.calendars %}
      {%-    set calendars_list.calendars = calendars_list.calendars + [device_calendar] %}
      {%- endif %}
      - type: grid
        {%- if device.device_type == "car" and device.car_is_invited and device.ha_entities.get("car_charge_type") %}
        visibility:
          - condition: state
            entity: {{ device.ha_entities.get("car_charge_type").entity_id }}
            state_not: "Not Plugged"
        {%- endif %}
        cards:
          {%- if  device.device_type == "car" %}
          - type: custom:qs-car-card
          {%- else %}
          - type: entities
          {%- endif %}
            title: {{ device.name }}
            entities:
            {%- if  device.device_type == "car" %}
              {%- set energy_mode = device.car_is_invited or not device.can_use_charge_percent_constraints() %}
              {%- set car_tracker = device.car_tracker %}
              {%- if  car_tracker != None %}
              {%-    set trackers_list.trackers = trackers_list.trackers + [(car_tracker, device.name)] %}
              {%- endif %}
              use_energy_mode: {%-  if energy_mode %} "on" {% else %} "off"{% endif %}
              {%- set ha = device.ha_entities %}
              {%- set e = ha.get("selected_charger_for_car") %}
              {% if e %}charger_select: {{ e.entity_id }}{% endif %}
              {%- set e = ha.get("qs_bump_solar_charge_priority") %}
              {% if e %}bump_priority: {{ e.entity_id }}{% endif %}
              {%- set e = ha.get("selected_next_charge_limit_for_car") %}
              {% if e %}next_limit: {{ e.entity_id }}{% endif %}
              {%- set e = ha.get("default_charge_time") %}
              {% if e %}next_time: {{ e.entity_id }}{% endif %}
              {%- set e = ha.get("qs_next_car_charge_force_now") %}
              {% if e %}force_now: {{ e.entity_id }}{% endif %}
              {%- set e = ha.get("qs_next_car_charge_add_default") %}
              {% if e %}schedule: {{ e.entity_id }}{% endif %}
              {%-  if energy_mode %}
              {% if ha.get("current_constraint_current_energy") %}soc: {{ ha.get("current_constraint_current_energy").entity_id }}{% endif %}
              {%-  else %}
              {%- set sensor_id = device.car_charge_percent_sensor %}
              {%- set ha_entity = device.ha_entities.get("car_soc_percentage") %}
              {%- if sensor_id != None and ha_entity != None %}
              {%-    set badges_list.badges = badges_list.badges + [(sensor_id, device.name)] %}
              {{ "soc: " + sensor_id }}
              {%- endif %}
              {%- endif %}
              {% if ha.get("best_power_value") %}power: {{ ha.get("best_power_value").entity_id }}{% endif %}
              {% if ha.get("forecast_person_name") %}forecasted_person: {{ ha.get("forecast_person_name").entity_id }}{% endif %}
              {% if ha.get("qs_device_clean_and_reset") %}reset: {{ ha.get("qs_device_clean_and_reset").entity_id }}{% endif %}
              {% if ha.get("qs_device_clean_command_and_constraints") %}clean_constraints: {{ ha.get("qs_device_clean_command_and_constraints").entity_id }}{% endif %}
              {% if ha.get("car_charge_type") %}charge_type: {{ ha.get("car_charge_type").entity_id }}{% endif %}
              {% if ha.get("car_charge_time") %}charge_time: {{ ha.get("car_charge_time").entity_id }}{% endif %}
              {% if ha.get("car_estimated_range_km") %}range_now: {{ ha.get("car_estimated_range_km").entity_id }}{% endif %}
              {% if ha.get("car_autonomy_to_target_soc_km") %}range_target: {{ ha.get("car_autonomy_to_target_soc_km").entity_id }}{% endif %}
            {%- elif device.device_type == "climate" -%}
              {%- set ha_entity = device.ha_entities.get("qs_enable_device") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_best_effort_green_only") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {{ "  icon: mdi:solar-power" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("default_on_finish_time") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("default_on_duration") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("bistate_mode") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_load_mark_current_constraint_done") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("current_constraint_current_percent_completion") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {{ "  icon: mdi:gauge" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("current_constraint_current_energy") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("load_current_command") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("current_constraint") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("best_power_value") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("load_override_state") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
            {% elif device.device_type == "pool" -%}
              {%- set ha_entity = device.ha_entities.get("qs_enable_device") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_best_effort_green_only") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {{ "  icon: mdi:solar-power" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("default_on_finish_time") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("default_on_duration") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("bistate_mode") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("current_constraint") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("load_current_command") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("best_power_value") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("current_constraint_current_percent_completion") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {{ "  icon: mdi:gauge" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_load_mark_current_constraint_done") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
            {% elif device.device_type == "on_off_duration" -%}
              {%- set ha_entity = device.ha_entities.get("qs_enable_device") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_best_effort_green_only") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {{ "  icon: mdi:solar-power" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("default_on_finish_time") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("default_on_duration") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("bistate_mode") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("current_constraint_current_energy") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("current_constraint") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("load_current_command") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("best_power_value") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("current_constraint_current_percent_completion") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {{ "  icon: mdi:gauge" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_load_mark_current_constraint_done") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
            {% elif device.device_type == "home" -%}
              {%- set ha_entity = device.ha_entities.get("home_mode") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_home_is_off_grid") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_home_serialize_for_debug") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_home_light_reset_history") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_home_reset_history") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
              {%- set ha_entity = device.ha_entities.get("qs_home_generate_yaml_dashboard") %}
              {%- if  ha_entity != None %}
              {{ "- entity: " + ha_entity.entity_id }}
              {{ "  name: " + "\'" + ha_entity.name + "\'" }}
              {%- endif %}
            {% endif %}
            show_header_toggle: false
            state_color: true
    {%- endfor %}
      {%- if calendars_list.calendars|length > 0 %}
      {{ "- type: grid" }}
      {{ "  cards:" }}
      {{ "    - initial_view: listWeek" }}
      {{ "      type: calendar" }}
      {{ "      entities:" }}
      {%-     for entity in calendars_list.calendars %}
      {{ "        - " +  entity}}
      {%-      endfor %}
      {{ "      grid_options:" }}
      {{ "        columns: full" }}
      {%- endif %}
      {%- if trackers_list.trackers|length > 0 %}
      {{ "- type: grid" }}
      {{ "  cards:" }}
      {{ "    - type: map" }}
      {{ "      entities:" }}
      {%-     for entity, name in trackers_list.trackers %}
      {{ "        - entity: "+ entity }}
      {{ "          name: "+ name }}
      {%-      endfor %}
      {{ "      theme_mode: auto" }}
      {%- endif %}
    {%- if badges_list.badges|length > 0 %}
    {{ "badges:" }}
    {%-     for badge_entity_id, badge_name in badges_list.badges %}
    {{ "  - type: entity" }}
    {{ "    show_name: true" }}
    {{ "    show_state: true" }}
    {{ "    show_icon: true" }}
    {{ "    entity: "+ badge_entity_id }}
    {{ "    name: "+ badge_name}}
    {%-      endfor %}
    {%-   endif %}
{%-   endif %}
{%- endfor %}